<!DOCTYPE html>
<html ng-app="prereqsmap">
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="app/css/style.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Planner</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav">
			    	<li><a ui-sref="major">Manage Major</a></li>
		      </ul>
		      <!-- <ul class="nav navbar-nav navbar-right">
		      	<form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <input type="text" placeholder="Email" ng-model="login.email">
			          <input type="password" placeholder="Password" ng-model="login.password">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			      </form>
			      <li><a ui-sref="signUp">Sign Up</a></li>
		      </ul> -->
		    </div>
		  </div><!-- /.container-fluid -->
		</nav>
		<div ui-view class="main"></div>
	</body>
	<script src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js"></script>
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="node_modules/angular-cookies/angular-cookies.js"></script>
	<script src="app/app.js"></script>
	<script src="app/factories/dataFactory.js"></script>
	<script src="app/home/home.controller.js"></script>
	<script src="app/signup/signup.controller.js"></script>
	<script src="app/major/major.controller.js"></script>
	<script src="app/graph/graph.controller.js"></script>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
	<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.0.5/cytoscape-cose-bilkent.js"></script>
	<!-- for testing with local version of cytoscape.js -->
	<!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->
	<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
	<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>
</html>