.main {
	height: calc(100% - 72px);
}
html, body, .major, .major .col-md-4 {
	height: 100%;
}
.major .panel {
	height: 90%;
}
.school {
	background: #dff0d8;
	cursor: pointer;
}
.delete {
	cursor: pointer;
	float: right;
}