<div class="container">
  <div class="login-panel col-md-4 col-md-offset-4">
    <h2>Class Planner</h2>
    <form>
			<div class="form-group">
			  <label>School</label>
			  <select class="form-control" ng-model="school" ng-change="selectSchool(school)">
			    <option>McCormick School of Engineering</option>
			  </select>
			</div>
      <div class="form-group">
        <label>Major</label>
        <select class="form-control" ng-model="selectedMajor" ng-disabled="!majors">
          <option ng-repeat="major in majors | orderBy:major">{{major}}</option>
        </select>
      </div>
      <button type="submit" ng-click="selectMajor(school, selectedMajor)" class="btn btn-default full-width">Go!</button>
    </form>
  </div>
</div>