<div class="major">
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">Add Majors</div>
		  <div class="panel-body">
		    <div class="panel-body">
			    <div class="form-group">
		        <label>Name of Major</label>
		        <input class="form-control" ng-model="major">
		      </div>
		      <div class="form-group">
		      	<label>Classes</label>
		      	<h5>Please make sure to separate classes by only a comma and separate class numbers by an underscore.<br/><br/>e.g. EECS_101,EECS_111,EECS_211</h5>
		      	<textarea class="form-control" ng-model="classes"></textarea>
		      </div>
		      <button class="btn btn-default full-width" ng-click="addMajor(major, classes)">Submit</button>
			  </div>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">Pair Majors to School</div>
		  <div class="panel-body">
		    
		  </div>
		  
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">Edit Majors</div>
		  <ul class="list-group" ng-repeat="school in schools">
		    <li class="list-group-item school">{{school.name}}</li>
		    <li class="list-group-item" ng-repeat="majorForSchool in school.majors">{{majorForSchool}}<span class="delete" ng-click="deleteConfirmation(school,majorForSchool)">&times;</span></li>
		  </ul>
		</div>
	</div>
</div>
<!-- Modal Classes -->
<div class="modal fade" id="classes">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{major}}</h4>
      </div>
      <div class="modal-body">
      	<ul>
      		<li ng-repeat="class in listOfClasses">{{class}}</li>
      	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
    		<p>Are you sure</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="deleteMajor(selectedSchool,selectedMajor)">Confirm</button>
      </div>
    </div>
  </div>
</div>